h1{
    text-align: center;
    color: blue;
} 

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #FE2E64;
    font-size: 18px;
    text-decoration: underline;
}

body{
    background-color:#A9F5F2;
}

